# Directories
node_modules
lib
coverage
.nyc_output
.github

# OS Files
.DS_Store

# Git Files
.gitattributes
.gitignore

# NPM Files
.npmignore

# CI Files
.gitlab-ci.yml

# Files
npm-debug.log
test.js
benchmark.js
